[defaults]
inventory = ./inventory.ini
log_path = /var/log/roboshop/ansible.log

# ansible.cfg file is used in order to make the ansible tool configration setting into the current wrking directory, 
# so that we no need to give the command --> ansible-playbook -i inventory.ini everytime while executing the ansible files.
